<form #f="ngForm" (ngSubmit)="submit(f)">
  <div ngModelGroup="contact" #contact="ngModelGroup">
    <div *ngIf="!contact.valid">Validation</div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input 
        required 
        minlength="3" 
        maxlength="15" 
        pattern="Balazs" 
        ngModel 
        name="firstName" 
        #firstName="ngModel" 
        (change)="log(firstName)" 
        id="firstName" 
        type="text" 
        class="form-control">
      <div 
        class="aler alert-danger" 
        *ngIf="firstName.touched && !firstName.valid">
        <div *ngIf="firstName.errors.required">
          First name is required
        </div>
        <div *ngIf="firstName.errors.minlength">
          First name should be minimum {{ firstName.errors.minlength.requiredLength }} char
        </div>
        <div *ngIf="firstName.errors.pattern">
          First name should be Balazs
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea 
      ngModel
      name="comment" 
      id="comment"
      cols="30"
      rows="10"
      class="form-control">
    </textarea>
  </div>
  <div class="checkbox">
    <label for="checkbox">
      <input 
      type="checkbox" 
      ngModel 
      name="isSubscribed"> 
        Subcribe to mailing list
    </label>
  </div>
  <div class="form-group">
    <label for="contactMethod">Contact Method</label>
    <select ngModel name="contactMethod" id="contactMethod" class="form-control"> <!-- add "multiple" if want to have multiple options to be selected -->
      <option value=""></option>
      <option  *ngFor="let method of contactMethods" [ngValue]="method">{{method.name}}</option> <!-- in case you want to send the complex object -->
      <option  *ngFor="let method of contactMethods" [value]="method.id">{{method.name}}</option>  <!-- in case you want to send only the ID -->
    </select>
  </div>
  <div *ngFor="let method of radioContactMethods" class="radioContactMethods">
    <label for="radioContactMethods">
      <input ngModel type="radio" name="radioContactMethods" [value]='method.id'>
      {{method.name}}
    </label>
  </div> 


  <p>
    {{f.value | json}}
  </p>
  <button class="btn btn-primary" [disabled]="!f.valid"> Submit </button>
</form>