<h1>Angular</h1>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!--<courses></courses>
<app-course></app-course> 
<app-books>stuff</app-books>
<app-people></app-people>
<app-list></app-list>
<app-authors></app-authors>
<app-title-case></app-title-case>
<app-multiply-fun></app-multiply-fun>
<app-all-together></app-all-together>
<app-post></app-post>


<bootstrap-panel>
  <ng-container class="heading">Heading</ng-container>
  <div class="body">
    <h2>Body</h2>
    <p>Some paragraph</p>
  </div>
</bootstrap-panel>
<app-likes
[likesCount]="tweet.likesCount"
[isSelected]='tweet.isFavorite'
></app-likes>

<app-szeretet
[tetszikSzamlalo]="tweet.likesCount"
[tetszik]="tweet.isFavorite"
></app-szeretet>
<br>
<app-valamiszar
  [counter]="tweet.likesCount"
  [state]="tweet.isFavorite">
</app-valamiszar>-->
<!--
<!-- ngClass
<app-favourite [isFavorite]="post.isFavorite" (change)="onFavoriteChange($event)"></app-favourite>
<!-- ngClass-->

<!-- ngIf
<div *ngIf="courses.length > 0; then coursesList else noCourses"> <!-- this can be a method here doWeHaveAnyCourses() </div>
<ng-template #coursesList>
  List of courses
</ng-template>
<ng-template #noCourses>
  No Courses
</ng-template>
<!-- ngIf-->

<!-- hidden--
<div [hidden]="dogs.length == 0">List of animals</div>
<div [hidden]="dogs.length > 0">No animals</div>
<!-- hidden-->

<!-- ngSwitchCase more then 2 valuse (in case of 2 valuse ngIf--
<ul class="nav nav-pills">
	<li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">Map View</a></li>
	<li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Contenct</div>
  <div *ngSwitchCase="'list'">List View Contenct</div>
  <div *ngSwitchDefault>Othrwise</div>
</div>
<!-- ngSwitchCase -->

<!-- ngFor + change detection ( in the documentation it's called NgForOf directive )--
<button (click)="onAdd()">Add</button>
<button (click)="onRemove()">Remove last</button>
<ul>
	<li *ngFor="let course of forCourses; index as i; even as isEven">
    {{i+1}} - {{ course.name}} 
    <span *ngIf="isEven">EVEN</span> 
    <button (click)="onRemoveThis(course)">Remove this</button>
    <button (click)="onChange(course)">Change</button>
  </li>
</ul>

<!-- ngFor -->

<!-- ngFor and TrackBy for LONG list and complex markup --

<br>
<button (click)="loadAnimals()">Load Animals</button>
<ul>
	<li *ngFor="let animal of animals; trackBy: trackAnimal">
    {{animal.name}}
  </li>
</ul>

<!-- ngFor and TrackBy -->


<!-- ngStyle --
<button
  [ngStyle]="{
    'backgroundColor': canSave ? 'blue' : 'gray',
    'color': canSave ? 'white' : 'gray',
    'fontWeight': canSave ? 'bold' : 'normal'
  }"
>
Save
</button>
<!-- ngStyle -->
<br>
<br>
<!-- Safe Traversal Operator for complex objects if we are not sure we have a value or we might get it late --
<span *ngIf="task.assignee">{{task.assignee.name}}</span>
<br>
<span>{{task.assignee?.name}}</span>
<!-- Safe Traversal Operator -->
<br>
<br>
<!-- custom directives (such as for formatting text in input boxes) --
<input type="text" appInputFormat [format]="uppercase">
<!-- custom directives (such as for formatting text in input boxes) -->
<br>
<br>

<!-- zippy task
<app-zippy title="Shipping Details">
  Shipping Details Content
</app-zippy>
<app-zippy title="Billing Details">
  Billing Details Content
</app-zippy>
<br><br> -->

<drop-down-menu title="Click to expand">
  Expand succseeful
</drop-down-menu>
