<h1>Angular</h1>

<!--<courses></courses>
<app-course></app-course> 
<app-books>stuff</app-books>
<app-people></app-people>
<app-list></app-list>
<app-authors></app-authors>
<app-title-case></app-title-case>
<app-multiply-fun></app-multiply-fun>
<app-all-together></app-all-together>
<app-post></app-post>

<app-favourite [isFavorite]="post.isFavorite" (change)="onFavoriteChange($event)"></app-favourite>
<bootstrap-panel>
  <ng-container class="heading">Heading</ng-container>
  <div class="body">
    <h2>Body</h2>
    <p>Some paragraph</p>
  </div>
</bootstrap-panel>
-->

<app-likes></app-likes>