<h1>Angular</h1>

<!--<courses></courses>
<app-course></app-course> 
<app-books>stuff</app-books>
<app-people></app-people>
<app-list></app-list>
<app-authors></app-authors>
<app-title-case></app-title-case>
<app-multiply-fun></app-multiply-fun>
<app-all-together></app-all-together>
<app-post></app-post>

<app-favourite [isFavorite]="post.isFavorite" (change)="onFavoriteChange($event)"></app-favourite>
<bootstrap-panel>
  <ng-container class="heading">Heading</ng-container>
  <div class="body">
    <h2>Body</h2>
    <p>Some paragraph</p>
  </div>
</bootstrap-panel>
<app-likes
[likesCount]="tweet.likesCount"
[isSelected]='tweet.isFavorite'
></app-likes>

<app-szeretet
[tetszikSzamlalo]="tweet.likesCount"
[tetszik]="tweet.isFavorite"
></app-szeretet>
<br>
<app-valamiszar
[counter]="tweet.likesCount"
[state]="tweet.isFavorite"
></app-valamiszar>-->

<div *ngIf="courses.length > 0; then coursesList else noCourses"> <!-- this can be a method here doWeHaveAnyCourses() --></div>
<ng-template #coursesList>
  List of courses
</ng-template>
<ng-template #noCourses>
  No Courses
</ng-template>